Please answer the following multiple-choice question based on the given documents.
Think step by step.
Provide your final choice in the format \boxed{YOUR_CHOICE}.
Your final choice should be one of the letters, DO NOT include any answer content.

Documents:
{{documents}}

Question: {{question}}
Choices: {{choices}}