Please answer the following question based on the given documents and your internal knowledge.
Think step by step.
Provide your final answer in the format \boxed{YOUR_ANSWER}.
Your final answer should be either "True" or "False" only, DO NOT include any answer content.

Documents:
{{documents}}

Question: {{question}}